{% import "bootstrap/wtf.html" as wtf %}
{% extends "/public/base_page.html" %}

{% block content %}
<div class="content">
    <div class="d-flex justify-content-center">
        <div class="row p-3 mt-5">
            <form class="form" method="post" role="form" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ wtf.form_errors(form, hiddens="False") }}

                {{ wtf.form_field(form.report) }}
                {{ wtf.form_field(form.option) }}
                <div class="d-flex justify-content-center">
                    {{ wtf.form_field(form.download, class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
